.primary {
    font-size: 12px;
    color: #fed8b1;
  }
  
  body {
    font-family: sans-serif;
    /* background-image: url(https://elearning.uq.edu.au/files/54217/iStock-520374378.jpg); */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX9482K4MN7AAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC);
  }
  .create-group-form {
    background: #FDE3CD;
    text-align: center;
  }
  .sign-up-form h1 {
    color: #fed8b1;
    margin-bottom: 30px;
  }
  
  .input-box-first-name {
    border-radius: 10px;
    padding: 6.7px;
    margin: 10px 0;
    width: 50%;
    border: 1px solid #999;
    outline: none;
    margin-left: 50;
  }
  
  .input-box-last-name {
    border-radius: 10px;
    padding: 6.7px;
    margin: 10px 0;
    width: 50%;
    border: 1px solid #999;
    outline: none;
    position: relative;
    left: 5px;
  }
  
  .input-box {
    width: 20%;
    border: 1px solid #999;
    outline: none;
  }
  button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20ps;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .signup-btn {
    background-color: #808080;
  }
  hr {
    margin-top: 50px;
    width: 80%;
  }
  